<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppList</key>
	<array>
		<dict>
			<key>AppLink</key>
			<string>http://phobos.apple.com/app/instagram/id389801252?mt=8</string>
			<key>AppTitle</key>
			<string>Instagram</string>
			<key>AppShortDescription</key>
			<string>Cool App to revoltionize photo sharing</string>
			<key>AppDetailDescription</key>
			<string>15 million users love Instagram! It&apos;s a free, fun, and simple way to make and share gorgeous photos on your iPhone.

Pick from one of several gorgeous filtered effects or tilt-shift blur to breathe a new life into your mobile photos. Transform everyday moments into works of art you&apos;ll want to share with friends and family.

Share your photos in a simple photo stream with friends to see - and follow your friends&apos; photos with the click of a single button. Every day you open up Instagram, you&apos;ll see new photos from your closest friends, and creative people from around the world.

Features

☆ 100% free custom designed filters and borders such as XPro-II, Earlybird, Rise, Amaro, Hudson, Lo-fi, Sutro, Toaster, Brannan, Inkwell, Walden, Hefe, Nashville, 1977, and others.
☆ Linear and Radial Tilt-Shift blur effects for extra depth of field.
☆ Instant sharing to Facebook, Twitter, Flickr, Tumblr, Foursquare, and Posterous
☆ Unlimited uploads
☆ Interact with friends through giving &amp; receiving likes and comments
☆ Works with first generation, 3G, 3GS and iPhone 4
☆ Full iPhone 4 front &amp; back camera support
☆ And much much more...</string>
			<key>AppImagePath</key>
			<string>http://a1.mzstatic.com/us/r1000/070/Purple/v4/09/0c/a0/090ca083-97ae-eeb9-1576-1ff36a028bc8/mzl.ntalagmr.175x175-75.jpg</string>
		</dict>
		<dict>
			<key>AppLink</key>
			<string>http://phobos.apple.com/us/app/draw-something-free/id488628250?mt=8</string>
			<key>AppTitle</key>
			<string>Draw Something Free</string>
			<key>AppShortDescription</key>
			<string></string>
			<key>AppDetailDescription</key>
			<string>Play the Free version of Draw Something, the most popular social drawing and guessing game in the App Store with over 100 millions drawings created! Experience for yourself the laugh-out-loud game your friends are raving about! 
_________________________________

PRAISE FOR DRAW SOMETHING FREE

“★ ★ ★ ★ ★ Keeps me entertained for hours.” - Jspronk

“★ ★ ★ ★ ★ Awesome!!! My New Addiction&quot; - Paul B

&quot;★ ★ ★ ★ ★ BEST GAME IN IPHONE HISTORY&quot; - Brian R

ADDICTIVE FEATURES

★ Play with Friends on iPhone, iPad and iPod Touch!
Challenge friends on Facebook or Twitter, or be automatically partnered with new gaming buddies.

★ No Drawing Skills Required!
Stick figures and a sense of humor are welcome! Just wiggle you finger to create a doodle masterpiece!

★ Color Craze - Over 50 Vibrant Colors!
Turn simple doodles into rich masterpieces with color packs.

★ Turn-based Gameplay
Perfect for gamers-on-the-go! Take turns drawing and guessing at your own pace.

★ Leaderboard
Rally back and forth with friends for the most “Turns.”

★ Bombs
Stumped by a difficult word? Exchange it for a new one by exploding it with a bomb.</string>
			<key>AppImagePath</key>
			<string>Lhttp://a4.mzstatic.com/us/r1000/111/Purple/v4/3d/6a/2b/3d6a2b17-e46c-5609-1bdc-1a3935ed2e51/mzl.edqotirc.175x175-75.jpg</string>
		</dict>
		<dict>
			<key>AppLink</key>
			<string>http://phobos.apple.com/us/app/viddy/id426294709?mt=8</string>
			<key>AppTitle</key>
			<string>Viddy</string>
			<key>AppShortDescription</key>
			<string>Capture And Share Videos with the world!</string>
			<key>AppDetailDescription</key>
			<string>Viddy is a simple way for anyone to capture, beautify, and share videos with the world!

&quot;Turn everyday moments into perfect little movies with Viddy on iPhone. So next time you catch that pristine sunset over the Pacific, make it more than a memory. Then share it with your Viddy community and upload them to Facebook, Twitter, and YouTube.&quot; 

&quot;Viddy, an App That’s Like Twitter for Videos&quot; - WSJ 
“If you’ve seen what Instagram has done for phone-shot photos, you can imagine that Viddy may soon do the same for videos.” - NYTimes 

Features: 
+ Advanced camera includes focus / exposure / white balance settings, audio metering, timer and more.
+ Add visual effects, music, transitions, and even movie stars to your videos 
+ 100% free packs such as Vintage, Crystal, Solarize, Red, Exposed, Retro, Glam, BW, Hued, Junkd and 3D 
+ 100% free brand packs such as Snoop, Incubus, and more. 
+ Share your creation privately, to your friends, or to the world 
+ One-click sharing to the social web, including Facebook, Twitter, YouTube and Tumblr 
+ Interact with your friends with tags, likes and comments 
+ Realtime video discovery and exploration from a vibrant community. 
+ An endless source of creativity, inspiration and personal expression. 
+ And much, much more... </string>
			<key>AppImagePath</key>
			<string>http://a1.mzstatic.com/us/r1000/119/Purple/v4/2f/a4/0b/2fa40bb1-623e-d7a8-3e17-09fc6fae992a/mzl.bqhzrklp.175x175-75.jpg</string>
		</dict>
		<dict>
			<key>AppLink</key>
			<string>http://phobos.apple.com/us/app/bike-race-free-by-top-free/id510461758?mt=8</string>
			<key>AppTitle</key>
			<string>Bike Race Free - by Top Free Games</string>
			<key>AppShortDescription</key>
			<string>A cool little Bike Game.</string>
			<key>AppDetailDescription</key>
			<string>&quot;Download the @FreeAppADay.com Store App and wish for more top rated paid apps like &quot;Bike Race - by Top Free Games&quot; to become FREE for a day!&quot;
Drive your bike through amazing tracks with jumps and loops in this simple and fast-paced physics-based game. 

By the creators of the #1 game in the app store Racing Penguin 

Tilt your device to lean your bike and touch the screen to accelerate/brake. 

Features: 
- Simple controls 
- Earn stars to unlock new levels 
- 4 addictive worlds 
- 32 challenging tracks 
- Touch to accelerate, tilt to lean the bike 

Free for a limited time!</string>
			<key>AppImagePath</key>
			<string>http://a2.mzstatic.com/us/r1000/068/Purple/v4/e0/42/65/e0426561-d050-fc06-daba-ec47640c821c/QG6nOJs04dFDO44I0C4AEM-temp-upload.vtdcksbl.175x175-75.jpg</string>
		</dict>
	</array>
</dict>
</plist>
